.calendar {
  position: relative;
  font-size: 10px;
  width: 215px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font: 16px Lato,Arial,Helvetica,sans-serif;
  &__caption {
    position: relative;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__button {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    &:active {
      opacity: 0.7;
    }
    &--asc {
      right: 0;
      &:after {
        content: url(images/right.png);
      }
    }
    &--desc {
      left: 0;
      &:after {
        content: url(images/left.png);
      }
    }
  }
  &__month-name {
    position: relative;
    padding: 10px;
  }
  &__year-name {
    position: relative;
  }
  
  &__header {
    margin-top: 10px;
    height: 15px;
    padding-top: 5px;
    font-size: 14px;
  }
  &__day-name {
    display: inline-block;
    width: 14%;
    text-align: center;
    &--in-month {

    }
    &--out-month {
      color: #999;
    }
    &--weekend {
      color: #fb435f;
    }
    
  }
  &__day {
    display: inline-block;
    width: 14%;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    &:hover {
      cursor: pointer;
      opacity: .5;
      background-color: #fb435f;
      color: #fff;
    }
    &--in-month {

    }
    &--out-month {
      color: #999;
    }
    &--weekend {
      color: #fb435f;
    }
    &--today{
      background: #fb435f !important;
      color: #fff;
    }
    &--selected {
      background: #9cdbf7;
      &--start {
        background: #3498db;
        color: #fff;
      }
      &--end {
        background: #3498db;
        color: #fff;
      }
    }
    
  }
  &--date-range-picker {
    &--start {

    }
    &--end {

    }
  }
}

.date-range-picker {
  display: inline-block;
  width: auto;
  padding: 10px;
}
.date-range-picker .calendar{
  float:left;
}
