@import "calendar";

.date-range-picker {
  padding: 10px;
}

.date-range-picker .calendar {
  display: inline-block;
}

.calendar__day--selected {
  background: #9cdbf7;
}

.calendar__day--selected--start {
  background: #3498db;
  color: #fff;
}

.calendar__day--selected--end {
  background: #3498db;
  color: #fff;
}
