.calendar {
  position: relative;
  font-size: 10px;
  width: 215px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font: 16px Lato, Arial, Helvetica, sans-serif; }
  .calendar__caption {
    position: relative;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; }
  .calendar__button {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none; }
    .calendar__button:active {
      opacity: 0.7; }
    .calendar__button--asc {
      right: 0; }
      .calendar__button--asc:after {
        content: url(images/right.png); }
    .calendar__button--desc {
      left: 0; }
      .calendar__button--desc:after {
        content: url(images/left.png); }
  .calendar__month-name {
    position: relative;
    padding: 10px; }
  .calendar__year-name {
    position: relative; }
  .calendar__header {
    margin-top: 10px;
    height: 15px;
    padding-top: 5px;
    font-size: 14px; }
  .calendar__day-name {
    display: inline-block;
    width: 14%;
    text-align: center; }
    .calendar__day-name--out-month {
      color: #999; }
    .calendar__day-name--weekend {
      color: #fb435f; }
  .calendar__day {
    display: inline-block;
    width: 14%;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center; }
    .calendar__day:hover {
      cursor: pointer;
      opacity: 0.5;
      background-color: #fb435f;
      color: #fff; }
    .calendar__day--out-month {
      color: #999; }
    .calendar__day--weekend {
      color: #fb435f; }
    .calendar__day--today {
      background: #fb435f !important;
      color: #fff; }
    .calendar__day--selected {
      background: #9cdbf7; }
      .calendar__day--selected--start {
        background: #3498db;
        color: #fff; }
      .calendar__day--selected--end {
        background: #3498db;
        color: #fff; }

.date-range-picker {
  display: inline-block;
  width: auto;
  padding: 10px; }

.date-range-picker .calendar {
  float: left; }
